@inherits Umbraco.Web.Mvc.UmbracoViewPage<ContentModels.BlogPost>
@using Umbraco.Core.Models.PublishedContent
@using ContentModels = Umbraco.Web.PublishedModels;
@using Umbraco.Core.PropertyEditors.ValueConverters;
@{
	Layout = "Master.cshtml";
}

@{
	
	var title = Model.Value("blogPostTitle");
	var subheader = Model.Value("blogPostSubHeader");
	var date = Model.Value("blogPostDate");
	 var author = Model.Value<IPublishedContent>("blogPostAuthor");

	var body = Model.Value("blogPostBody");
	var imgCropper = Model.Value<ImageCropperValue>("blogPostImage");
	var imgUrl = imgCropper.Src + imgCropper.GetCropUrl("Main");	
	<article class="post">
		<header>
			<div class="title">
				<h2><a href="#">@title</a></h2>
				<p>@subheader</p>
			</div>
			<div class="meta">
				<time class="published" datetime="2015-11-01">@date</time>
				<a href="#" class="author"><span class="name">@author.Name</span><img src="images/avatar.jpg" alt="" /></a>
			</div>
		</header>
		<span class="image featured"><img src="@imgUrl" alt="" /></span>
		<p>@body</p>
		<footer>
			<ul class="stats">
				<li><a href="#">General</a></li>
				<li><a href="#" class="icon solid fa-heart">28</a></li>
				<li><a href="#" class="icon solid fa-comment">128</a></li>
			</ul>
		</footer>
	</article>
	
}
