@inherits Umbraco.Web.Mvc.UmbracoViewPage<ContentModels.BlogPosts>
@using Umbraco.Core.Models.PublishedContent

@using ContentModels = Umbraco.Web.PublishedModels;
@{
	Layout = "Master.cshtml";
		var selection = Umbraco.Content(Guid.Parse("7ae48248-9252-4f8b-a0d1-816c1a914d68"))
    .Children()
    .Where(x => x.IsVisible());
	

}

@foreach (var item in selection)
{

	var author = item.Value<IPublishedContent>("blogPostAuthor");
		
					<article class="post">
								<header>
									<div class="title">

										<h2><a href="@item.Url">@item.Value("blogPostTitle")</a></h2>
										<p>@item.Value("blogPostSubheader")</p>
									</div>
									<div class="meta">
										<time class="published" datetime="2015-11-01">@item.Value("blogPostDate")</time>
										<a href="#" class="author"><span class="name">@author.Name</span><img src="images/avatar.jpg" alt="" /></a>
									</div>
								</header>
								<a href="single.html" class="image featured"><img src="images/pic01.jpg" alt="" /></a>
								<p>@item.Value("blogPostExcerpt")</p>
								<footer>
									<ul class="actions">
										<li><a href="@item.Url" class="button large">Continue Reading</a></li>
									</ul>
									<ul class="stats">
										<li><a href="#">General</a></li>
										<li><a href="#" class="icon solid fa-heart">28</a></li>
										<li><a href="#" class="icon solid fa-comment">128</a></li>
									</ul>
								</footer>
							</article>
							
		
	}
<ul class="actions pagination">
	<li><a href="" class="disabled button large previous">Previous Page</a></li>
	<li><a href="#" class="button large next">Next Page</a></li>
</ul>