@inherits Umbraco.Web.Mvc.UmbracoViewPage
@using System.Web.Security
@using assignment_2.Controllers
@using Umbraco.Core.Models
@using Umbraco.Core.PropertyEditors.ValueConverters;



@{
	var site = Model.Root();
	Layout = null;
}

<!DOCTYPE HTML>
<!--
	Future Imperfect by HTML5 UP
	html5up.net |
	Free for personal and commercial use under the CCA 3.0 license (html5up.net/license)
-->
<html>
	<head>
		<title>@site.Value("siteName")</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
		<link rel="stylesheet" href="/css/global.css" />
		<script src="https://kit.fontawesome.com/93821f1bea.js" crossorigin="anonymous"></script>
	</head>
	<body class="is-preload">

		<!-- Wrapper -->
			<div id="wrapper">

				<!-- Header -->
					<header id="header">
						<h1><a href="/">@site.Value("siteName")</a></h1>
						<nav class="links">
							@Html.Partial("navigation")
						    
						   
						</nav>
						<nav class="main">
							<ul>
								<li class="search">
									<a class="fa-search" href="#search">Search</a>
									<form id="search" method="get" action="#">
										<input type="text" name="query" placeholder="Search" />
									</form>
								</li>
								<li class="menu">
									<a class="fa-bars" href="#menu">Menu</a>
								</li>
							</ul>
						</nav>
					</header>

				<!-- Menu -->
					<section id="menu"><!-- Actions -->
						<section>
							
							  @if(!Members.GetCurrentLoginStatus().IsLoggedIn) { 
								  
							  
							<ul class="actions stacked">
								<li><a href="/login" class="button large fit">Log In</a></li>
							</ul>
								  <ul class="actions stacked">
									  <li><a href="/register" class="button large fit">Sign Up</a></li>
								  </ul>
								  
							  }
							  else
							  {
								  
								  var username = Members.CurrentUserName;
								   var member = Members.GetByUsername( username);
								  var imgCropper = member.Value<ImageCropperValue>("memberImage");
								  
								  
								  <p>@username</p>
								  if (imgCropper != null)
								  {
									  var imgUrl = imgCropper.Src + imgCropper.GetCropUrl("avatar");

									  <img src="@imgUrl"/>
									  
								  }
									
								  
								  using (Html.BeginUmbracoForm<LoginController>("SubmitLogout"))

								  {
								
										  
									  <fieldset>
										  <ul class="actions stacked">
											  <li><button class="button large fit">Log out</button></li>

										  </ul>									 
										 </fieldset>
								  }
								  
								
							
							  }
						</section>

					</section>

				<!-- Main -->
					<div id="main">

					  @RenderBody()
					  

					</div>

				<!-- Sidebar -->
					<section id="sidebar">

						<!-- Intro -->
							<section id="intro">
								<a href="#" class="logo"><img src="images/logo.jpg" alt="" /></a>
								<header>
									<h2>@site.Value("siteName")</h2>
									<p>@site.Value("siteSlogan")</p>
								</header>
							</section>

					@Umbraco.RenderMacro("latestBlogPosts")

						<!-- About -->
							<section class="blurb">
								<h2>About</h2>
								<p>@site.Value("siteAbout")</p>
								<ul class="actions">
									<li><a href="/about-us" class="button">Learn More</a></li>
								</ul>
							</section>

						<!-- Footer -->
							<section id="footer">
								<ul class="icons">
									<li><a href="#" class="icon brands fa-twitter"><span class="label">Twitter</span></a></li>
									<li><a href="#" class="icon brands fa-facebook-f"><span class="label">Facebook</span></a></li>
									<li><a href="#" class="icon brands fa-instagram"><span class="label">Instagram</span></a></li>
									<li><a href="#" class="icon solid fa-rss"><span class="label">RSS</span></a></li>
									<li><a href="#" class="icon solid fa-envelope"><span class="label">Email</span></a></li>
								</ul>
								<p class="copyright">&copy; Untitled. Design: <a href="http://html5up.net">HTML5 UP</a>. Images: <a href="http://unsplash.com">Unsplash</a>.</p>
							</section>

					</section>

			</div>

		<!-- Scripts -->
			<script src="/assets/jquery.min.js"></script>
			<script src="/assets/browser.min.js"></script>
			<script src="/assets/breakpoints.min.js"></script>
			<script src="/assets/util.js"></script>
			<script src="/assets/main.js"></script>

	</body>
</html>